[policy]
crate = permissions-ex
policy-version = 0.1

[statements]
require remove(path) delete(path)
require save_data(path) create(path)
require save_data(path) overwrite(path)
grant remove(path) exec("rm", "-f", path)
grant save_data(path) delete(path)
grant prepare_data() append("my_app.log")
