[policy]
crate = rustc_version
policy-version = 0.1

[statements]
allow crate read_env("RUSTC")
allow crate exec("rustc", "-vV")
allow crate exec(env::var_os("RUSTC"), "-vV")
require VersionMeta::for_command(cmd) exec(cmd, "-vV")
trust env::var_os
